.input {
    font: 16px arial,sans-serif;
    line-height: 22px;
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    border-radius: 24px;
    margin: 0 auto;
    width: 100%;
    padding: 8px 16px;
}