.autocompleteList {
    position: absolute;
    background: white;
    margin: -22px 0 0;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 9px 8px -3px rgba(64,60,67,.24), 8px 0 8px -7px rgba(64,60,67,.24), -8px 0 8px -7px rgba(64,60,67,.24);
    padding: 0;
    min-width: 534px;
}

.hideAutocomplete {
    display: none;
}

.showAutocomplete {
    display: block;
}