.resultsItem {
    list-style: none;
    border-radius: 24px;
    padding: 0 16px;
}

.resultsItemDescription {
    word-break: break-all;
    font-family: arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.resultsItemLinkContainer {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.resultsItemLink {
    margin: 0;
    font-size: 12px;
    padding-bottom: 12px;
}

.resultsItemTitle {
    font-family: arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #1a0dab;
    margin: 0;
}