.autocompleteItem {
    display: flex;
    list-style: none;
    margin: 16px;
}

.autocompleteItemIcon {
    background: url(https://www.google.com/images/searchbox/desktop_searchbox_sprites318_hr.webp) no-repeat 0 0;
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    margin-right: 16px;
}

.viewedAutocompleteItem {
    color: rgb(90, 53, 152);
}

.autocompleteClearButton {
    margin-left: auto;
    background: transparent;
    border: 0;
    color: rgb(90, 53, 152);
}